{% extends 'home.html' %}

{% block content %}
	<h3>作者编辑</h3>
    <form action="" method="post">
        <p>作者名: <input type="text" name="name" value="{{ author_obj.name }}"></p>
        <p>年龄: <input type="text" name="age" value="{{ author_obj.age }}"></p>
        <p>手机号: <input type="text" name="phone" value="{{ author_obj.author_detail.phone }}"></p>
        <p>住址: <input type="text" name="addr" value="{{ author_obj.author_detail.addr }}"></p>
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}