{% extends 'home.html' %}

{% block content %}
	<h3 class="text-center">图书添加</h3>
    <form action="" method="post">
        <p>书名: <input type="text" name="title" class="form-control"></p>
        <p>价格: <input type="text" name="price" class="form-control"></p>
        <p>出版日期: <input type="date" name="date" class="form-control"></p>
        <p>出版社:
            {% for publish_obj in publish_queryset %}
                <input type="radio" name="publish_id" value="{{ publish_obj.id }}">{{ publish_obj.name }}
            {% endfor %}
        </p>
        <p>作者:
            {% for author_obj in author_queryset %}
                <input type="checkbox" name="author" value="{{ author_obj.id }}">{{ author_obj.name }}
            {% endfor %}
        </p>
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}